.tasks {
    padding: 0;
    margin: 0;
    list-style: none; 
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    padding: 10px;
    align-items: center;
    border-bottom: solid 2px hsl(0, 0%, 93%);
}


.tasks__text--done {
    text-decoration: line-through;
}

.tasks__button {
    border: none;
    padding: 5px;
    width: 30px;
    height: 30px;
    margin: 10px 5px;
    transition: 0.4s;
}

.tasks__button--done {
    background-color: hsl(120, 100%, 25%);
}

.tasks__button--done:hover {
    background-color: hsl(120, 100%, 30%);
}

.tasks__button--remove {
    background-color: hsl(0, 100%, 50%);
}

.tasks__button--remove:hover {
    background-color: hsl(0, 100%, 60%);
}


